@font-face 
{
  font-family: 'PaRaDoCS Alap';
  src: url('PaRaDoCSAlap.woff2') format('woff2'),
      url('PaRaDoCSAlap.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#menu-main,
#article
{
  text-align: left;
  list-style: none;
  color: white;
  font-family: "PaRaDoCS Alap", monospace;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  white-space: pre-wrap;

  left: 0px;
  top: 28px;
  height: 408px;
  width: 100%;
}
#menu-main
{
  overflow-x: scroll;
  overflow-x: overlay;
  column-width: 270px;
  max-height: 408px;
  width: 580px;
  column-gap: 20px;
}
#article
{
  height: 400px;
  overflow-y: scroll;
  overflow-y: overlay;
  width: 590px;
}
#article a
{
  color: inherit;
}
#article-title
{
  font-family: 'PaRaDoCS Alap', monospace;
  color: white;
  text-align: left;
  font-size: 16px;
  white-space: pre-wrap;

  width: 500px;
  position: absolute;
  left: 70px;
  top: 2px;
}
#article-image
{
  z-index: 2;
  position: absolute;
  width: 640px;
  height: 480px;
  background: black;
  text-align: center;
}
#menu-main li
{
  color: #0f0;
}
#menu-main li[data-link]
{
  color: #fff;
}
#menu-main li[data-link]:hover
{
  background: #ffffff40;
  color: #fff;
  cursor: pointer;
}
