@font-face 
{
  font-family: 'Kendermag Diskmag';
  src: url('KendermagDiskmag.woff2') format('woff2'),
      url('KendermagDiskmag.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#menu-main,
#article
{
  text-align: left;
  list-style: none;
  color: white;
  font-family: "Kendermag Diskmag", monospace;
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  white-space: pre-wrap;

  left: 0px;
  top: 130px;
  height: 392px;
  width: 100%;
}
#menu-main {
  overflow-x: scroll;
  overflow-x: overlay;
  column-width: 300px;
  max-height: 284px;
  left: 24px;
  width: 600px;
  column-gap: 0;
}
#article
{
  height: 392px;
  overflow-y: scroll;
  overflow-y: overlay;
  color: #84acc0;
  top: 124px;
  height: 288px;
}
#article a 
{
  color: inherit;
}
#article-underlay {
  width: 640px;
  height: 295px;
  top: 116px;
  position: absolute;
  z-index: -1;
}
#article-title
{
  font-family: "Kendermag Diskmag", monospace;
  color: white;
  text-align: left;
  font-size: 16px;
  white-space: pre-wrap;

  width: 500px;
  position: absolute;
  left: 70px;
  top: 2px;
}
#article-image 
{
  z-index: 2;
  position: absolute;
  width: 640px;
  height: 480px;
  background: black;
  text-align: center;
}
#menu-main li
{
  color: #00A8A8;
}
#menu-main li[data-idx]
{
  color: #84acc0;
}
#menu-main li[data-idx]:hover
{
  background: #ffffff40;
  color: #fff;
  cursor: pointer;
}
#selector {
  font-size: 32px;
  column-count: 2;
}
