@font-face 
{
  font-family: 'Terror News Diskmag';
  src: url('TerrorNewsDiskmag.woff2') format('woff2'),
      url('TerrorNewsDiskmag.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face 
{
  font-family: 'Terror News Diskmag 50-52';
  src: url('TerrorNewsDiskmag50-52.woff2') format('woff2'),
      url('TerrorNewsDiskmag50-52.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face 
{
  font-family: 'Terror News Diskmag 53-54';
  src: url('TerrorNewsDiskmag53-54.woff2') format('woff2'),
      url('TerrorNewsDiskmag53-54.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face 
{
  font-family: 'Terror News Diskmag 56-57';
  src: url('TerrorNewsDiskmag56-57.woff2') format('woff2'),
      url('TerrorNewsDiskmag56-57.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face 
{
  font-family: 'Terror News Diskmag 58-59';
  src: url('TerrorNewsDiskmag58-59.woff2') format('woff2'),
      url('TerrorNewsDiskmag58-59.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#menu-main,
#menu-container,
#article
{
  text-align: left;
  list-style: none;
  color: white;
  font-family: "Terror News Diskmag", monospace;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  white-space: pre-wrap;

  left: 0px;
  top: 100px;
  height: 392px;
  width: 100%;
}
#menu-main 
{
  column-width: 300px;
  max-height: 328px;
  top: 0;
  left: 0px;
  column-gap: 0;
  letter-spacing: 1px;
}
#menu-container
{
  overflow-x: scroll;
  overflow-x: overlay;
  overflow-y: hidden;
  width: 630px;
  height: 316px;
  left: 10px;
  top: 100px;
  line-height: 15px;
}

#container[data-issue="TN50"] *,
#container[data-issue="TN51"] *,
#container[data-issue="TN52"] *,
#container[data-issue="TN55"] *
{
  font-family: "Terror News Diskmag 50-52", monospace;
}
#container[data-issue="TN53"] *,
#container[data-issue="TN54"] *
{
  font-family: "Terror News Diskmag 53-54", monospace;
}
#container[data-issue="TN56"] *,
#container[data-issue="TN57"] *
{
  font-family: "Terror News Diskmag 56-57", monospace;
}
#container[data-issue="TN58"] *,
#container[data-issue="TN59"] *
{
  font-family: "Terror News Diskmag 58-59", monospace;
}
#container[data-issue="TN50"] #menu-main,
#container[data-issue="TN51"] #menu-main,
#container[data-issue="TN52"] #menu-main,
#container[data-issue="TN53"] #menu-main,
#container[data-issue="TN54"] #menu-main,
#container[data-issue="TN55"] #menu-main,
#container[data-issue="TN56"] #menu-main,
#container[data-issue="TN57"] #menu-main,
#container[data-issue="TN58"] #menu-main,
#container[data-issue="TN59"] #menu-main {
  letter-spacing: 0px;
}
#container[data-issue="TN50"] #menu-container,
#container[data-issue="TN51"] #menu-container,
#container[data-issue="TN52"] #menu-container,
#container[data-issue="TN53"] #menu-container,
#container[data-issue="TN54"] #menu-container,
#container[data-issue="TN55"] #menu-container,
#container[data-issue="TN56"] #menu-container,
#container[data-issue="TN57"] #menu-container,
#container[data-issue="TN58"] #menu-container,
#container[data-issue="TN59"] #menu-container {
  width: 600px;
  left: 35px;
  top: 95px;
}

#article
{
  height: 392px;
  overflow-y: scroll;
  overflow-y: overlay;
  left: 10px;
  top: 100px;
  width: 630px;
  height: 302px;
  line-height: 15px;
}
#article a 
{
  color: inherit;
}
#article-underlay {
  width: 640px;
  height: 295px;
  top: 116px;
  position: absolute;
  z-index: -1;
}
#article-title
{
  font-family: "Terror News Diskmag", monospace;
  color: white;
  text-align: left;
  font-size: 16px;
  white-space: pre-wrap;

  width: 500px;
  position: absolute;
  left: 70px;
  top: 2px;
}
#article-image 
{
  z-index: 2;
  position: absolute;
  width: 640px;
  height: 480px;
  background: black;
  text-align: center;
}
#menu-main li[data-idx]:hover
{
  background: #ffffff40;
  color: #fff;
  cursor: pointer;
}
#selector {
  font-size: 32px;
  column-count: 2;
}
